*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent), url(./images/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  height: 100vh;
  margin-top: 100px;
}

.first-section {
  margin-top: 130px;
}

.first-section .social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.first-section .social ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.first-section .social ul li a .fab {
  font-size: 25px;
  transition: all 0.4s ease-in-out;
}

.first-section .social ul li a .fab:hover {
  font-size: 40px;
  transition: all 0.4s ease-in-out;
}

.first-section .write-up {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.first-section .write-up .michael {
  color: crimson;
}

.first-section .write-up h2:nth-child(1) {
  font-size: 22px;
  margin-bottom: 20px;
}

.first-section .write-up h1 {
  margin-bottom: 30px;
  height: 40px;
}

.first-section .write-up .knack {
  font-size: 22px;
  margin-top: 20px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px #fff;
  border-radius: 50%;
  width: 390px;
  height: 390px;
  margin: 20px auto 0 auto;
}

.image-body {
  width: 92%;
  height: 92%;
  background-image: url("./images/my-pix.jpg");
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.image-body:hover {
  transform: scale(1.07);
  transition: all 2s ease-in-out;
}


/**************** About ******************/
.about .header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 50px auto;
}

.header .header-span {
  background-color: rgba(255, 255, 255, 0.37);
  width: 350px;
  color: #fff;
  height: 1px;
  margin: auto 0 auto 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.about-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
  align-items: center;
}

.about-body .first-row p{
  color: #fff;
  text-align: left;
  line-height: 25px;
  font-size: 17px;
}

.about-body .first-row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.about-body .first-row-2 ul {
  margin-top: 20px;
  color: #fff;
}



.about .second-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: 5px solid purple;
  width: 300px;
  height: 300px;
  margin: 20px auto 0 auto;
  position: relative;
}

.second-row .about-image {
  background-image: url('./images/secondimg.jpg');
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 5%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  left: -25px;
}

/**************** Work *****************/
.work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.work .work-header {
  display: flex;
  color: #fff;
}

.work-header span {
  width: 350px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 20px;
}

.work-body {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
  width: 70%;
}

.body-tabs .tab {
  padding: 10px;
  width: 90%;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid rgba(255, 3, 3, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tab:hover {
  background-color: rgb(35, 12, 53);
  border-left: 1px solid red;
}
 
.tab.active {
  background-color: rgb(35, 12, 53);
  border-left: 1px solid red;
}

.work-experience {
  margin-left: 50px;
}

.work-experience .experience {
  display: none;
  width: 355px;
  height: 457px;
}

.work-experience .active-experience {
  display: block;
}

.work-experience .experience h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.work-experience .experience p {
  margin-bottom: 20px;
}

.work-experience .experience ul{
  list-style: none;
}

.work-experience .experience ul li {
  line-height: 20px;
  margin-bottom: 5px;
  margin-left: 25px;
  width: 100%;
  position: relative;
}

.work-experience .experience ul li::before {
  content: "▹ ";
  position: absolute;
  left: 0px;
  margin-left: -25px;
}





@media screen and (max-width: 320px) {
  .about {
    margin-bottom: 350px!important;
  }
  .about .header{
    margin-top: 60px;
  }

  .about .header span {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .about-body .first-row-2 {
    display: flex;
    flex-direction: column;
  }
  
  .about-body .first-row-2 ul {
    margin-top: 10px;
  }

  .first-row-2 .row-1 {
    margin-top: 10px;
  }

  .first-row-2 .row-2 {
    margin-top: -50px;
  }

  .about {
    margin-top: 250px;
    margin-bottom: 250px;
  }  

  .work .work-body .body-tabs .tab {
    font-size: 10px;
  }

  .work .work-experience h1{
    font-size: 17px;
  }

  .work .work-experience p{
    font-size: 14px;
  }

  .work .work-experience ul li {
    font-size: 15px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .first-section {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {

  .about .header h1 {
    font-size: 25px;
  }

  .header .header-span {
    width: 200px;
  }

  .about-body {
    width: 95%;
  }

  .about-body .first-row ul {
    margin-left: 10px;
  }

  .work {
    margin-top: 130px;
  }

  .work-body {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .work .body-tabs {
    display: inline-flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .body-tabs .tab {
    border-left: none;
    border-bottom: 1px solid rgba(255, 3, 3, 0.274);
  }

  .work-experience {
    margin-left: 10px;
  }

  .work-experience .experience {
    width: auto;
  }
}

@media screen and (max-width: 630px) {
  .about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .about .second-row {
    margin-top: 100px;
  }

}

@media screen and (max-width: 700px) {
  .work .work-header h1 {
    font-size: 20px;
  }

  .work .work-header span {
    width: 100px;
  }
}

@media screen and (max-width: 735px) {
  .container {
    padding: 0 0;
  }

  .first-section {
    margin-top: 90px;
  }

  .first-section .social ul li a .fab {
    font-size: 20px;
  }

  .first-section .social ul li a .fab:hover {
    font-size: 30px;
  }

  .first-section .write-up h2:nth-child(1) {
    font-size: 20px;
  }

  .first-section .write-up h1 {
    margin-bottom: 20px;
    /* height: 40px; */
    font-size: 25px;
  }

  .first-section .write-up .knack {
    font-size: 20px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .about {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1055px) {
  .container {
    padding: 10px 15%;
  }
}

@media screen and (max-width: 1060px) {
  .about-body .first-row p{
    line-height: 20px;
    font-size: 15px;
  }

  .about-body .first-row ul{
    font-size: 15px;
  }

  .about {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1300px) {
  .about-body .first-row p{
    line-height: 20px;
    font-size: 15px;
  }
}

